
TestBaseLib/TestBaseLib/Debug/*
TestBaseLib/ipch/*
TestBaseLib/TestBaseLib.sdf
TestBaseLib/TestBaseLib.suo
TestCoreLib/TestCoreLib.sdf
TestCoreLib/TestCoreLib.suo
TestCoreLib/TestCoreLib/Debug/*
TestStandardLib/TestStandardLib/Debug/*
TestStandardLib/TestStandardLib.sdf
TestStandardLib/TestStandardLib.suo
TestStandardLib/ipch/*
TestStandardLib/Debug/*
TestCoreLib/TestCoreLib/Log.txt
TestCoreLib/Debug/*
TestBaseLib/Debug/*
TestBaseLib/TestBaseLib/Log.txt
TestStandardLib/TestStandardLib/Log.txt
TestCoreLib/ipch/*
TestStandardLib/Release/*
TestStandardLib/TestStandardLib/Release/*
TestStandardLib/TestStandardLib.opensdf
TestStandardLib/TestStandardLib120427.vsp
TestStandardLib/TestStandardLib.psess
TestCoreLib/TestCoreLib/Database1
TestStandardLib/TestStandardLib/NamedIndexes/*
TestCoreLib/TestCoreLib/Database5
TestCoreLib/TestCoreLib/TransactionDatabase1a
TestCoreLib/TestCoreLib/TransactionDatabase1b
TestCoreLib/TestCoreLib/TransactionDatabase1c
TestCoreLib/TestCoreLib/TransactionDatabase1d
TestCoreLib/TestCoreLib/TransactionDatabase2a
TestCoreLib/TestCoreLib/TransactionDatabase2b
TestCoreLib/TestCoreLib/TransactionDatabase2c
TestCoreLib/TestCoreLib/TransactionDatabase2d
TestCoreLib/TestCoreLib/TransactionDatabase3a
TestCoreLib/TestCoreLib/TransactionDatabase3b
TestCoreLib/TestCoreLib/TransactionDatabase3c
TestCoreLib/TestCoreLib/TransactionDatabase3d
TestCoreLib/TestCoreLib/TransactionDatabase4a
TestCoreLib/TestCoreLib/TransactionDatabase4b
TestCoreLib/TestCoreLib/TransactionDatabase4c
TestCoreLib/TestCoreLib/TransactionDatabase4d
TestCoreLib/TestCoreLib/TransactionDatabase5a
TestCoreLib/TestCoreLib/TransactionDatabase5b
TestCoreLib/TestCoreLib/TransactionDatabase5c
TestCoreLib/TestCoreLib/TransactionDatabase5d
TestSupportLib/ipch/*
TestBaseLib/TestBaseLib.opensdf
TestSupportLib/TestSupportLib.sdf
TestSupportLib/TestSupportLib.suo
TestSupportLib/TestSupportLib/Debug/*
