
TestBaseLib/TestBaseLib/Debug/*
TestBaseLib/ipch/*
TestBaseLib/TestBaseLib.sdf
TestBaseLib/TestBaseLib.suo
TestCoreLib/TestCoreLib.sdf
TestCoreLib/TestCoreLib.suo
TestCoreLib/TestCoreLib/Debug/*
TestStandardLib/TestStandardLib/Debug/*
TestStandardLib/TestStandardLib.sdf
TestStandardLib/TestStandardLib.suo
TestStandardLib/ipch/*
TestStandardLib/Debug/*
TestCoreLib/TestCoreLib/Log.txt
TestCoreLib/Debug/*
TestBaseLib/Debug/*
TestBaseLib/TestBaseLib/Log.txt
TestStandardLib/TestStandardLib/Log.txt
TestCoreLib/ipch/*
TestStandardLib/Release/*
TestStandardLib/TestStandardLib/Release/*
TestStandardLib/TestStandardLib.opensdf
TestStandardLib/TestStandardLib120427.vsp
TestStandardLib/TestStandardLib.psess
TestCoreLib/TestCoreLib/Database1
TestStandardLib/TestStandardLib/NamedIndexes/*
