TestBaseLib/TestBaseLib/Debug
TestCoreLib/TestCoreLib/Debug
TestStandardLib/TestStandardLib/Debug
TestStandardLib/Debug
TestCoreLib/TestCoreLib/Log.txt
TestCoreLib/Debug
TestBaseLib/Debug
TestBaseLib/TestBaseLib/Log.txt
TestStandardLib/TestStandardLib/Log.txt
TestStandardLib/Release
TestStandardLib/TestStandardLib/Release
TestStandardLib/TestStandardLib120427.vsp
TestStandardLib/TestStandardLib.psess
TestCoreLib/TestCoreLib/Database1
TestSupportLib/TestSupportLib/Debug
TestSupportLib/Debug
TestStandardLib/TestStandardLib/Output
TestSupportLib/TestSupportLib/Log.txt
TestSupportLib/TestSupportLib/Output
TestCppParserLib/TestCppParserLib/Debug
TestCppParserLib/Debug
TestCppParserLib/TestCppParserLib/Log.txt
TestInputLib/TestInputLib/Debug
TestInputLib/Debug
TestBaseLib/Release
TestBaseLib/TestBaseLib/Release
TestInputLib/TestInputLib/Log.txt
TestCoreLib/TestCoreLib/Output
TestCoreLib/TestCoreLib/Release
TestCoreLib/Release
*.VC.db
*.suo
*.sdf
*.opensdf
*.VC.opendb
/TestCoreLib/TestCoreLib/Output
*.vs
*ipch
/TestThreadLib/Debug
/TestThreadLib/Release
/TestThreadLib/TestThreadLib/Debug
/TestThreadLib/TestThreadLib/Release
/TestThreadLib/TestThreadLib/Log.txt
/TestBaseLib/TestBaseLib/Output/*
/TestBaseLib/TestBaseLib/x64/Debug*
/TestBaseLib/x64/Debug/*
/TestBaseLib/TestBaseLib/x64/Release/*
/TestBaseLib/x64/Release/*
/TestCoreLib/TestCoreLib/x64/Debug/*
/TestCoreLib/TestCoreLib/x64/Release/*
/TestCoreLib/x64/Release/*
/TestCoreLib/x64/Debug/*
/TestStandardLib/x64/Release/*
/TestInputLib/TestInputLib/Release/*
/TestInputLib/Release/*
/TestInputLib/x64/Release/*
/TestCppParserLib/TestCppParserLib/Post/*
/TestJavaParserLib/Debug/*
/TestJavaParserLib/TestJavaParserLib/Debug/*
